body {
    background-color: #f2f2f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-container {
    background-image: url(bg.jpg);
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 320px;
}

h2 {
    margin-bottom: 25px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

input:focus {
    border-color: #44838a;
    outline: none;
}

.button-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: #0b83bb;
    color: white;
    cursor: pointer;
    flex: 1 1 30%;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #737b85;
}
